<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/data/jpa
                           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                           http://www.springframework.org/schema/cache
                           http://www.springframework.org/schema/cache/spring-cache.xsd"
       default-lazy-init="true">

    <!-- Auto scan beans -->
    <context:component-scan base-package="com.**"/>

    <bean id="jpaProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations" value="classpath*:conf/**/jpa-cache.properties" />
        <property name="properties">
            <value>
                hibernate.dialect                  = org.hibernate.dialect.H2Dialect
                hibernate.format_sql               = true
                hibernate.generate_statistics      = true
                hibernate.hbm2ddl.auto             = create-drop
                hibernate.show_sql                 = true
            </value>
        </property>
    </bean>

    <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
        <property name="url" value="jdbc:h2:~/data/h2/pep_test;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;MVCC=TRUE"/>
        <property name="user" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.**" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties" ref="jpaProps" />
    </bean>

    <bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Spring Data JPA -->
    <jpa:repositories base-package="com.**"
                      transaction-manager-ref="jpaTransactionManager" entity-manager-factory-ref="entityManagerFactory"/>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheCacheManager" />
    </bean>

    <bean id="ehcacheCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="acceptExisting" value="true" />
    </bean>

    <cache:annotation-driven />
</beans>
